* {
  font-family: sans-serif;
  color: #444;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: #1098ad;
}

.main-header {
  background-color: #f1f1f1;
  padding: 20px 40px;
  margin-bottom: 20px;
  border-top: 10px solid #1098ad;
}

.container {
  width: 80%;
  margin: auto auto;
  background-color: cornsilk;
}

.C-nav {
  padding-top: 10px;
}

body {
  background-color: cornsilk;
}

.code-img {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  text-indent: 10px;
}

/* p:first-child {
  text-indent: 5px;
} */

/* related post authors. */
.related-author {
  font-size: 14px;
  font-weight: bold;
}

/* list of related post */
.related-post {
  list-style: none;
}

/* whole related post body */
.aside-related {
  background-color: #f1f1f1;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

li:first-child {
  font-weight: bold;
}

li {
  font-size: 16px;
  margin-bottom: 5px;
}

#author {
  font-size: 16px;
}

#copyright {
  font-size: 12px;
}

a {
  color: rgb(255, 165, 48);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: red;
  font-size: larger;
}

a:active {
  background-color: black;
}

/* a:visited {
  color: royalblue;
} */

ol,
ul {
  margin-left: 60px;
}
